body {
  cursor: url('../../assets/images/cursor.png'), pointer;
}
.navbar{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
  top: 0;
  z-index: 10;

  background-color: #272566;

  &-content {
    display: flex;
    align-items: center;
  }

  &-logo {
    @media only screen and (min-width: 300px) {
      width: 30px;
      height: 30px;
    }
    @media only screen and (min-width: 420px) {
      width: 50px;
      height: 50px;
    }
    @media only screen and (min-width: 690px) {
      width: 70px;
      height: 70px;
    }
  }

  &-menu {

  }

  &-title {
    font-family: 'Lilita One', cursive;
    font-weight: lighter;
    text-align: center;
    // color: #272566;
    color: white;
    @media only screen and (min-width: 300px) {
      font-size: 1em;
      padding-left: 1rem;
    }
    @media only screen and (min-width: 420px) {
      font-size: 1.5em;
      padding-left: 2rem;
    }
    @media only screen and (min-width: 690px) {
      font-size: 2em;
      padding-left: 3rem;
    }
  }
}

main {
  margin: 0 auto;
  display: flex;

}
.form {
  flex-direction: row;
  margin: 2rem auto;
  font-size: 2rem;
  
  &-connect {
    outline: none;
    border:none;
    margin-top: 2rem;
    background-color:#1abc9c;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 0px 10px #16a085;
    padding: .5rem 1rem;
    text-transform: uppercase;
    cursor: pointer;

    
    &:hover {
      transform: translateY(3px);
      box-shadow: 0px 7px#16a085;
    }
    &:active {
      transform: translateY(7px);
      box-shadow: 0px 3px #16a085;
    }

  }
}
.input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color:transparent;
  color: #16a085;
}
.input:focus{
  background-color:transparent;
  outline: none;
  
}
.input:focus::placeholder{
  color: white;
  transition: all 0.5s ease-in-out;
  
}
.label-input{  
  display: none;
  color: #16a085;
  
}
.animated{
  
  border-bottom-color: red;
  
}
.label-animated {
  animation-name:colorChange;
  animation-duration: 3s;
  transition: all 5s ease-in-out;
  color: #16a085;
  display: block;
}   

@keyframes colorChange {
  from {
      color: #1abc9c;
      opacity: 0;
  

      }
  to {
      color:#16a085; 
      opacity: 1;
      }
  }
